@page "/"
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<h1>Play XO</h1>

<EditForm Model="@this">
    <InputSelect id="playerX" bind-Value="@PlayerX">
        <option value="Player">Human</option>
        <option value="Randomizer">Randomizer</option>
        <option value="LastMoveRandomizer">Last move nearby randomizer</option>
    </InputSelect>
    vs.
    <InputSelect id="playerO" bind-Value="@PlayerO">
        <option value="Player">Human</option>
        <option value="Randomizer">Randomizer</option>
        <option value="LastMoveRandomizer">Last move nearby randomizer</option>
    </InputSelect>

    <button class="btn btn-primary" onclick="@Play">Go!</button>
</EditForm>

@functions {

    string PlayerX = "Human";
    string PlayerO = "Human";

    private void Play()
    {
        var random = new Random();
        UriHelper.NavigateTo($"Play/{random.Next(1, 1000)}/{PlayerX}/{PlayerO}");
    }
}
