@page "/"
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<h1>Play XO</h1>

<button class="btn btn-primary" onclick="@NavigateToGame">Two player game</button>

@functions {
    private void NavigateToGame()
    {
        var random = new Random();
        UriHelper.NavigateTo($"/Play/{random.Next(1,1000)}");
    }
}
