@page "/"
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

<h1>Play XO</h1>

<button class="btn btn-primary" onclick="@PlayerVsPlayer">Player vs Player</button>

<button class="btn btn-primary" onclick="@PlayVsRandomizer">Player vs 'Randomizer'</button>

<button class="btn btn-primary" onclick="@RandomizerVsRandomizer">'Randomizer' vs 'Randomizer'</button>

@functions {
    private void PlayerVsPlayer()
    {
        var random = new Random();
        UriHelper.NavigateTo($"Play/{random.Next(1, 1000)}/Player/Player");
    }

    private void PlayVsRandomizer()
    {
        var random = new Random();
        UriHelper.NavigateTo($"Play/{random.Next(1, 1000)}/Player/Randomizer");
    }


    private void RandomizerVsRandomizer()
    {
        var random = new Random();
        UriHelper.NavigateTo($"Play/{random.Next(1, 1000)}/Randomizer/Randomizer");
    }
}
